node_modules
.nitro
.tanstack
.wrangler
.output
.build
.source
.local
.cache
.nx/cache
.nx/migrate-runs
.nx/polygraph
.nx/workspace-data

vite.config.*.timestamp*
*.tsbuildinfo
.DS_Store

.env*
!.env.example
*.gen.ts
worker-configuration.d.ts

codedb.snapshot
